.auto-layout-nested-list {
    -fx-padding: 0 ;
    -fx-background-insets: 0, 1 ;
}

.auto-layout-nest-list-cell {
    -fx-padding: 0 ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 0, 1 ;
}

.auto-layout-nest-list-cell:empty {
    -fx-padding: 1 ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0, 1 ;
}