.list-view {
    -fx-padding: 0 ;
    -fx-background-insets: 0 ;
}

.list-cell {
    -fx-padding: 0 ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 0 ;
}

.list-cell:empty {
    -fx-padding: 0 ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}