<div class="container-fluid">
	<h1>AngularJS - Master Detail view</h1>
	<br />
	<div id="divFacet" ng-controller='FacetViewController'
		style="position: relative;">
		<div id="divFacetListView">
			<div class="btn-group" dropdown dropdown-append-to-body>
				<button id="btn-append-to-body" type="button"
					class="btn btn-primary" dropdown-toggle>
					Facets <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu"
					aria-labelledby="btn-append-to-body">
					<div id="{{Facet['@id']}}" class="cssOneFacet"
                        ng-repeat='Facet in listOfFacets' ng-click="selectFacet(Facet);"
						ng-class="{cssFacetSelected: Facet['@id'] == selectedFacet}">
						<li role="menuitem"><a href="facetHashPath(Facet)">{{Facet['@typeName']}}</a></li>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>