<div ng-controller="NewCtrl">

    <hr/>
    Color (null not allowed):
    <select ng-model="color" ng-options="c.name for c in colors"></select><br>

    Parent:
      <span >
        <select ng-model="product" ng-options="p.name for p in products">
            <option value="">-- choose color --</option>
        </select>
      </span><br/>

    Relationship:
      <span  class="nullable">
        <select ng-model="product" ng-options="r.name for r in product.rels">
            <option value="">-- choose color --</option>
        </select>
      </span><br/>
    Color grouped by shade:
    <select ng-model="color" ng-options="c.name group by c.shade for c in colors">
    </select><br/>



</div>