<div class="container-fluid">
	<h1>AngularJS - Master Detail view</h1>
	<br />
	<div id="divFacet" ng-controller='FacetViewController'
		style="position: relative;">
		<div id="divFacetListView">
			<div class="btn-group" dropdown dropdown-append-to-body>
				<button id="btn-append-to-body" type="button"
					class="btn btn-primary" dropdown-toggle>
					Facets <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu"
					aria-labelledby="btn-append-to-body">
					<div id="{{Facet['@id']}}" class="cssOneFacet"
						ng-class="{cssFacetSelected: Facet['@id'] == selectedFacet}"
						ng-repeat='Facet in listOfFacets' ng-click="selectFacet(Facet);">
                        <li role="menuitem"><a href="facetHashPath(Facet)">{{Facet['@typeName']}}</a></li> 
					</div>
				</ul>
			</div>
		</div>
		<div id="divFacetInstanceView">
			<div id="{{instance['@id']}}" class="cssOneFacetInstance"
				ng-class="{cssFacetInstanceSelected: Instance'@id'] == selectedFacetInstance}"
				ng-repeat='Instance in listOfFacetInstances'
				ng-click="selectFacetInstance(Facet);">
				<div class="cssFacetInstanceName">{{Instance.name}}</div>
				<div class="cssFacetInstanceDescription">{{Instance.description}}</div>
			</div>
		</div>
		<div id="divFacetDetailView">
			<div id="FacetRuleformAttributes" class="cssFacetRuleformAttributes">
				<div class="cssInstanceName">name: {{instance.name}}</div>
				<div class="cssInstanceDescription">description:
					{{instance.description}}</div>
				<div class="cssInstanceNotes">notest: {{instance.notes}}</div>
			</div>
			<div id="FacetAttributes_{{Instance['@id']}}"
				ng-repeat="Attribute in instance.attributes"
				ng-class-odd="'cssAttributeOdd'" ng-class-even="'cssAttributeEven'"
				class="cssOneFacetAttribute">
				<div class="cssAttributeName">Name: {{Attribute.name}}</div>
			</div>
			<div class="cssOneFacetRelationship"
				ng-repeat='Relationship in attribute.children'
				ng-class-odd="'cssRelationshipOdd'"
				ng-class-even="'cssRelationshipEven'">
				<div class="cssOneRelationship">{{Relationship.name}}</div>
				<div class="cssOneRelationshipType">{{Relationship.typeName}}</div>
				<div id="{{Child['@id']}}" class="cssOneChild"
					ng-class="{cssChildInstanceSelected: Child['@id'] == selectedChild}"
					ng-repeat='Child in Relationship.children'
					ng-click="selectChild(Child);">
					<div class="cssOneChild">{{Child.name}}</div>
				</div>
			</div>
		</div>
	</div>
</div>