<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="C" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${testing.logging.consoleLayoutPattern}</pattern>
		</encoder>
	</appender>
	<logger name="org.dbunit">
		<level value="${testing.logging.dbunit}" />
	</logger>
	<logger name="com.hellblazer.CoRE">
		<level value="${testing.logging.core}" />
	</logger>
  <logger name="openjpa>
    <level value="warn"/>
  </logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="C" />
	</root>
</configuration>
