<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="C" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${testing.logging.consoleLayoutPattern}</pattern>
        </encoder>
    </appender>
    <logger name="com.chiralbehaviors.CoRE">
        <level value="${core.log.level}" />
    </logger>
    <logger name="org.jooq">
        <level value="WARN" />
    </logger> 
    <root>
        <level value="TRACE" />
        <appender-ref ref="C" />
    </root>
</configuration>
