<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="facets">
        <li ng-repeat="facet in facets.graph" >
          <a href="#jsonld/facet/{{$routeParams.ruleform}}/{{facet.id}}">{{facet.id}}</a>
        </li>
      </ul>

    </div>
  </div>
</div>