.control {
	width: 18%;
	float: left;
	padding-left: 10px;
	
}


.content {
	border-left-style: solid;
	border-left-width: thin;
	width: 80%;
	float: right;	
	padding-left: 10px;
	
}

.resource {
	
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	
}

.line {
	margin-top: 0;
	margin-bottom: 0;
}

.create_hidden {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

.button {
	font-size: large;
}

.hover {
	color: white;
	background-color: black;
}

body {
	font-family: "Verdana", sans-serif;
}

h1 {
	font-size: 100%;
}